{% extends "base.html" %}

{% block content %}
  {% if logout %}
    <div id="login_logout">
      <a href="{{ logout }}">Logout</a>
    </div>
  {% endif %}

  <div id="main" class="display">
    <a href="#" onclick="javascript:switchView('new_game');">New Game</a><br />

    {% if last_game %}
      <a href="/game?gid={{ game.Id }}">Continue Previous Game</a>
    {% endif %}
  </div>
  
  <div id="new_game" class="hidden">
    <h2>New Session</h2>
    <form action="/begin">
      <p>
        Indicate Type of Zombie (Zombie Speed):<br />
        <input type="radio" name="average_zombie_speed" value="0.89" />
          Night of the Living Dead (2 mph)<br />
        <input type="radio" name="average_zombie_speed" value="2.23" />
          Resident Evil (5 mph)<br />
        <input type="radio" name="average_zombie_speed" value="3.57" />
          28 Days Later (8 mph)
      </p>
      <p>
        Indicate Type of Outbreak (Number of Zombies):<br />
        <input type="radio" name="zombie_density" value="0.89" />
          Controlled Outbreak<br />
        <input type="radio" name="zombie_density" value="2.23" />
          Early Local Infestation<br />
        <input type="radio" name="zombie_density" value="3.57" />
          Late Local Infestation<br />
        <input type="radio" name="zombie_density" value="3.57" />
          Global Pandemic
      </p>
      <input type="submit" value="Begin Session" />
    </form>
  </div>
  
  <div id="join_multiplayer" class="hidden">
    <form action="/session">
      <h2>Join Session</h2>
      Session Id: <input type="text" name="gid"></input><br />
      <input type="submit" value="Join Session" />
    </form>
  </div>
{% endblock %}
