<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.peterd.zombierun"
    android:versionCode="7" android:versionName="1.0.2">
    <!-- The version code MUST be kept in sync with the version code stored in ApplicationConstants -->
  <application
      android:icon="@drawable/icon"
      android:label="@string/app_name"
      android:theme="@android:style/Theme.NoTitleBar">
    <activity android:name=".activity.Main"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    
    <!-- Alphabetical -->
    <activity android:name=".activity.About" android:label="About" />
    <activity android:name=".activity.JoinMultiPlayerGame" android:label="JoinMultiPlayerGame" />
    <activity android:name=".activity.MainMenuWithMultiplayerDisabled" android:label="MainMenu_WithMultiplayerDisabled" />
    <activity android:name=".activity.MainMenuWithMultiplayerEnabled" android:label="MainMenu_WithMultiplayerEnabled" />
    <activity android:name=".activity.MultiPlayerEntry" android:label="MultiPlayerEntry" android:screenOrientation="portrait" />
    <activity android:name=".activity.MultiPlayerGame" android:label="MultiPlayerGame"  android:screenOrientation="portrait" />
    <activity android:name=".activity.OwnedMultiPlayerGame" android:label="OwnedMultiPlayerGame" android:screenOrientation="portrait" />
    <activity android:name=".activity.SinglePlayerEntry" android:label="SinglePlayerEntry" android:screenOrientation="portrait" />
    <activity android:name=".activity.SinglePlayerGame" android:label="SinglelayerGame" android:screenOrientation="portrait" />
    <activity android:name=".activity.StartGame" android:label="StartGame" android:screenOrientation="portrait" />
    <activity android:name=".activity.StartGame$WaitingForFirstFixActivity" android:label="StartGame_WaitingForFirstFix" android:screenOrientation="portrait" />
    <activity android:name=".activity.StartGame$ShowingPickDestinationMessageActivity" android:label="StartGame_ShowingPickDestinationMessage" android:screenOrientation="portrait" />
    <activity android:name=".activity.StartGame$PickingDestinationActivity" android:label="StartGame_PickingDestination" android:screenOrientation="portrait" />
    <activity android:name=".activity.WinOrLoseGame" android:label="WinOrLoseGame" />
    
    <!-- Used for install referrer tracking -->
    <receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver"
              android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>
    <uses-library android:name="com.google.android.maps" />
  </application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-sdk android:minSdkVersion="4" />
</manifest> 