{% extends "base.html" %}
{% block body %}
<body>

<div>
  <img src="res/icon.png" style="float: left;" width="48" height="48" />
  <h2>Zombie, Run!</h2>
  <p>When living in a zombie-infested city, one needs a little help to maintain a normal, healthy,
  and not-undead existence.  The Zombie, Run!&#0153; Zombie Finder is an important surivival tool
  that helps you maintain your normal routine and previous happy lifestyle.  The Zombie,
  Run!&#0153; Zombie Finder shows you the locations of nearby zombies, helping you safely
  navigate an infested area.</p>
  
  <h2><a href="{{ login_url }}">Log In to Start</a></h2>
  
  <p><i>Instructions for use:</i> When out running an errand or for a walk, start the zombie
  finder, indicate your intended destination, and safely navigate to your destination.</p> 

  <p><i>Markers:</i>
    <ul>
      <li><i>Blue Dot</i>: This is your current location.</li>
      <li><i>Blue Person</i>: A beloved friend or family member.</li>
      <li><i>Flag</i>: This is your destination, for ease of reference.</li>
      <li><i>Green Zombie</i>: A zombie who is unaware of your location, and is simply
      meandering about, as zombies do.</li>
      <li><i>Red Zombie</i>: A zombie who is aware of to your location, and is
      hastily making their way towards your tasty, tasty brains.  Try to ensure that you make more
      haste than they do, or you will soon be waste.  Remember: make haste, don't be waste.</li>
    </ul>
  </p>
</div>
<div>
  <h2>Additional Information</h2>
  <ul>
    <li><a href="http://www.zrli.org/zombierun/faq.html">Frequently Asked Questions</a></li>
    <li><a href="http://www.zrli.org/zombierun/development.html">Research Materials</a></li>
</div>
<div>
  <!-- User Group subscription form -->
  <table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>
    <tr>
      <td>
        <img src="http://groups.google.com/groups/img/3nb/groups_bar.gif"
             height=26 width=132 alt="Google Groups">
      </td>
    </tr>
    <tr>
      <td style="padding-left: 5px">
        <b>Subscribe to Zombie, Run! Users to discuss the Zombie, Run! tool, including feature
        requests, usage tips, and general advice on surviving a zombie infestation.</b>
      </td>
    </tr>
    <form action="http://groups.google.com/group/zombie-run-users/boxsubscribe">
      <tr>
        <td style="padding-left: 5px;">
          Email: <input type=text name=email>
          <input type=submit name="sub" value="Subscribe">
        </td>
      </tr>
    </form>
    <tr>
      <td align=right>
        <a href="http://groups.google.com/group/zombie-run-users">Visit this group</a>
      </td>
    </tr>
  </table>
</div>

</body>
{% endblock %}